@import "tailwindcss";

@layer base {
	:root {
		--background: #ffffff;
		--primary: #05141f;
		--max-width: 1660px;
	}
}

@theme {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-primary: var(--primary);

	--color-background: var(--background);
	--color-footer-background: var(--primary);

	--breakpoint-md: 46.5rem;
}

@layer base {
	* {
		@apply box-border;
	}
	body {
		@apply m-0 min-w-[360px] h-full;
	}
	body,
	button,
	input,
	select,
	textarea {
		@apply text-primary;
	}
	address,
	i,
	em {
		@apply not-italic;
	}
}

@layer utilities {
	body {
		font-family: Arial, Helvetica, sans-serif;
	}
}
